{% extends "base.j2" %}

{% block content %}
<body>

  <p class="text-end pe-2"><i> Logged in as a Tutor </i></p>
  <!-- User Info -->
  <div class="container-fluid text-center">
    <h1 class="text-center"> Tim Warner </h1>
    <h6 class="text-center"> WarnerTR18@gcc.edu </h5>
  </div>

    <!-- Payment Info -->
  <div class="d-flex justify-content-around">
    <div class="p-2">
      <h6> Payment Info </h6>

      <button class="dropBtn"> Payment </button>
      <!-- JS to make drop down button-->

      <input type="text" id="vemoUser" placeholder="Venmo Username">

    <!-- User Info -->
      <h6> Login Preferences </h6>
      <input type="radio" id="studentView" value="StudentView">
      <label for="stuentView"> Student View </label><br>
      <input type="radio" id="tutorView" value="TutorView">
      <label for="tutorView"> Tutor View </label>
    </div>

    <!-- Classes -->
    <div class="p-2">
      <h6> Tutoring For </h6>

      Verified 
      HUMA 200 A 
      <label for="rate"> Hourly Rate: $</label>
      <input type="number" class="hourlyRate" size="2">
      <button type="button" class="removeClass"> Remove </button> <br>
      <button type="button" class="addClass"> Add Class </button>
    </div>
  </div>

  <!-- Avaliable Times -->
  <div class="container-fluid pt-5">
    <div class="row justify-content-start">
      <div class="col-4">
        <input class="" type="checkbox" id="contactMe">
        <label for="contactMe"> Contact Me For Avalability </label>
      </div>
      <h6 class="col-4 text-center"> Available Times</h6>
    </div>
  </div>

  <div class="d-flex justify-content-around pt-3">
      <div>
        <p> Sunday </p>
        <button type="button" class="removeTime"> Remove </button>
        <button class="dropBtn"> 5:00PM </button>
        <!-- JS to make drop down button-->
      </div>

      <div>
        <p> Monday </p>
        <button type="button" class="removeTime"> Remove </button>
        <button class="dropBtn"> 5:00PM </button>
        <!-- JS to make drop down button-->
      </div>

      <div>
        <p> Tuesday </p>
        <button type="button" class="removeTime"> Remove </button>
        <button class="dropBtn"> 5:00PM </button>
        <!-- JS to make drop down button-->
      </div>

      <div>
        <p> Wednesday </p>
        <button type="button" class="removeTime"> Remove </button>
        <button class="dropBtn"> 5:00PM </button>
        <!-- JS to make drop down button-->
      </div>

      <div>
        <p> Thursday </p>
        <button type="button" class="removeTime"> Remove </button>
        <button class="dropBtn"> 5:00PM </button>
        <!-- JS to make drop down button-->
      </div>

      <div>
        <p> Firday </p>
        <button type="button" class="removeTime"> Remove </button>
        <button class="dropBtn"> 5:00PM </button>
        <!-- JS to make drop down button-->
      </div>

      <div>
        <p> Saturday </p>
        <button type="button" class="removeTime"> Remove </button>
        <button class="dropBtn"> 5:00PM </button>
        <!-- JS to make drop down button-->
      </div>
    </div>
</body>
{% endblock %}