.calendar{
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 10px;
    padding-bottom: 100px;
    background-color: white;
    max-height: 10px;
    top:20px;
    right:30px;
    height: 400px;
    
    align-self:center;
    /* border-style:solid;
    border-color:black; */
}


button.fc-dayGridMonth-button.fc-button.fc-button-primary {
    background-color: #0275d8 !important;
    border-color: black;
}
button.fc-timeGridWeek-button.fc-button.fc-button-primary {
    background-color: #0275d8 !important;
    border-color: black;
}
button.fc-timeGridDay-button.fc-button.fc-button-primary {
    background-color: #0275d8 !important;
    border-color: black;
}
button.fc-today-button.fc-button.fc-button-primary {
    background-color: #0275d8 !important;
    border-color: black;
}
button.fc-prev-button.fc-button.fc-button-primary {
    background-color: #0275d8 !important;
    border-color: black;
}
button.fc-next-button.fc-button.fc-button-primary {
    background-color: #0275d8 !important;
    border-color: black;
}

.filterHeader{
    text-decoration: underline;
    font-style: italic;
    color: blue;
}
/* .titleText{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 96px;
    color: crimson;
    opacity: .4;
    background-color: white;
   
}
.title{
    background-image: url("../images/gcc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */

.filter{
    text-align:left;
    padding-top: 125px;
    padding-left: 5px;
    padding-right: 10px;
    float: left;
    clear: none;
    max-width: 300px;
}

.infoChart{
    
    padding-top: 30px;
  
    
}

.switchViews{
    padding-bottom: 10px;
    
    
}

body{
    background-color: white;
}