.calendar{
    padding-left: 200px;
    padding-right: 100px;
    background-color: gray;
    padding-bottom: 100px;
    max-height: fit-content;
    overflow: scroll;
   
    height: 400px;
    align-self:center;
    border-style:solid;
    border-color:black;
   

}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.filterHeader{
    text-decoration: underline;
    font-style: italic;
}
.titleText{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 96px;
    color: crimson;
    opacity: .4;
    background-color: white;
   
}
.title{
    background-image: url("../images/gcc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.filter{
    text-align:left;
    padding-top: 20px;
}

.switchButton{
    text-align: left;
    
}

body{
    background-color: gray;
}