#paymentUser{
    margin-top: 10px;
}

#rate {
    margin-left: 5px;
}

#hourlyRate {
    margin-right: 5px;
}

#dropBtn {
    margin-right: 5px;
}

#day {
    margin-bottom: 5px;
}

#email {
    font-size: large;
}

#header {
    font-weight: bold;
    font-size: large;
    margin-bottom: 5px;
}

#loginPreferences {
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 0px;
}

#contactMe {
    margin-right: 5px;
}

#bottom {
    margin-top: 20px;
}

#edit {
    margin-right: 5px;
}

.verified {
    margin-right: 5px;
}

.removeClass {
    padding: 2px 4px;
    margin-left: 5px;
}

.hourlyRate {
    margin-left: 5px;
}

.rateLabel {
    margin-right: 5px;
}

.courseCode {
    margin-right: 5px;
}

.courseCodeStatic {
    margin-right: 30px;
}

fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
}



#stopTutoring {
    margin-left: 5px;
}